<!doctype html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Metro 4 -->
<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
</head>
<body>
<br><br>
<H1 class="grid offset-4">Create New Campaign</H1>
<div class="grid offset-1">
<form method="post" id="target">
    <div class="form-group">
        <label for="title">Campaign Name</label>
        <input class="form-control" id="title" type="text" maxlength="120"
               placeholder="Enter new campaign name">
    </div>
    <div class="form-group">
        <label for="addresses">Campaign Owners Account</label>
        <input class="form-control" id="addresses"
               placeholder="Enter 3 Accounts separated with comma separator">
    </div>
    <div class="form-group">
        <label for="goal">Goal</label>
        <input class="form-control" id="goal" type="number" min="1"
               placeholder="Enter a positive amount required for the campaign">
    </div>
    <div class="form-group">
        <label for="duration">Campaign length in days</label>
        <input class="form-control" id="duration" type="number" min="1"
               placeholder="Enter number of days the campaign should run">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='contract.js')}}"></script>
<script>


function handleNewCampaign() {
    console.log('running handleNewCampaign')

    const title = $( "#title" ).val();
    const owner_addresses = $( "#addresses" ).val();
    const goal = parseInt($( "#goal" ).val());
    let duration = parseInt($( "#duration" ).val());
    // let duration = (parseInt($( "#duration" ).val()))*86400;
    console.log(owner_addresses)
    let array_of_addresses = owner_addresses.split(',');

    let address1 = array_of_addresses[0].trim();//"0x6Fda45F1E261f74750E152aCb5aeF708961a04bb";
    let address2 = array_of_addresses[1].trim();//"0x5e6798c5E6C9A4e5a0E1Dc8Ccc5B18d09d1A595A";
    let address3 = array_of_addresses[2].trim();//"0xf2872219f3dDdac34B37fa3098596dc4a91E3106";
    console.log("address1:", address1)
    console.log("address2:", address2)
    console.log("address3:", address3)
    let contract = new window.web3.eth.Contract(abi);
    const pks = [address1, address2, address3]
    let continue_to_deploy = true;

    axios.post("{{ url_for('view_all_campaign') }}")
        .then(function (response) {
            console.log('response post: ', response);
            let continue_to_deploy = true;
            response.data.results.forEach(function (campaign, i) {
                if (campaign.title === title) {
                    alert("campaign with that name already exist, please choose a different name");
                    continue_to_deploy = false;
                }
            });
            return continue_to_deploy;
        }).then(function (continue_to_deploy) {
            if (continue_to_deploy === true) {
                return [true, contract.deploy({
                    from: window.deployAccount,
                    gas: 1000000,
                    data: bytecode,
                    arguments: [pks, duration, goal]
                }).send({from: window.deployAccount})];
            } else {
                alert("got here2!")
                return [false, null];
            }
        }).then(response => {
            let campaign_was_deployed = response[0];
            if (campaign_was_deployed === false) {
                alert("got here!")
                return;
            }

            let deploy_status = response[1];
            console.log('response deploy: ', deploy_status);
            console.log('response deploy address: ', deploy_status.options.address);
            console.log('here');
            const formData = {
                title: title,
                // owner_addresses: owner_addresses,
                address: deploy_status.options.address
                // ,
                // goal: goal,
                // duration: duration
            };
            axios.post("{{ url_for('new_campaign') }}", formData)
                .then(function (deploy_status) {
                    console.log('response post: ', deploy_status);
                    window.location = "{{ url_for('index') }}"
                })
                .catch(error => console.log('error post: ', error));
        })
        .catch(console.log);
}

$( "#target" ).submit(function( event ) {
    event.preventDefault();
    handleNewCampaign();
});
</script>
</body>
</html>